/* ai-base.css */

body {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: light-dark(var(--main-color-light), var(--main-color-dark));
  background: light-dark(var(--main-background-light), var(--main-background-dark));
}

h1, h2, h3, h4, h5, h6 {
  color: light-dark(var(--primary-color), var(--primary-color-dark));;
}

a[href],
a[href]:link,
a[href]:visited {
  color: light-dark(var(--link-color-light), var(--link-color-dark));
}

a[href]:focus {
  color: light-dark(var(--link-outline-color-light), var(--link-outline-color-dark));
  outline-style: var(--link-outline-style);
  outline-offset: var(--link-outline-offset);
  outline-width: var(--link-outline-width);
  outline-color: light-dark(var(--link-outline-color-light), var(--link-outline-color-dark));
}
