/* defs.css */

:root {
  color-scheme: light dark;

/* Primary Colors */

  --orange: #FF5F05;
  --orange-dark: #FF5F05;
  --blue: #13294B;
  --blue-dark: #E4E7EC;

  --primary-color-light: var(--blue);
  --primary-color-dark: var(--blue-dark);
  --primary-color-text-light: #FFF;
  --primary-color-text-dark: #222;
  --primary-focus-light: var(--orange);
  --primary-focus-dark: var(--orange-dark);

/* Secondary shades of gray */

  --dark-gray: #707372;
  --medium-gray: #9C9A9D;
  --light-gray: #C8C6C7;

/* Accent Colors */

  --industrial-blue: #1D58A7;
  --arches-blue: #009FD4;
  --harvest-yellow: #FCB316;
  --prairie-green: #006230;
  --patina-cyan: #007E8E;
  --berry-red: #5C0E41;
  --earth-brown: #7D3E13;

/* Error Colors */

  --error-red: #ed2939;
  --violations-color-light:     hsl(0, 100%, 84%);
  --violations-color-dark:      hsl(0, 100%, 16%);
  --warnings-color-light:       hsl(49, 100%, 79%);
  --warnings-color-dark:        hsl(49, 100%, 21%);
  --manual-checks-color-light:  hsl(198, 52%, 81%);
  --manual-checks-color-dark:   hsl(198, 52%, 19%);
  --passed-color-light:         hsl(90, 67%, 69%);
  --passed-color-dark:          hsl(90, 67%, 31%);
  --hidden-color-light:         hsl(0, 0%, 87%);
  --hidden-color-dark:          hsl(0, 0%, 13%);
  --not-applicable-color-light: hsl(0, 0%, 87%);
  --not-applicable-color-dark:  hsl(0, 0%, 13%);
/* Setting Content Variables */


  --main-font-family: arial, verdana, tahoma, "trebuchet MS", sans-serif;
  --main-font-size: 11pt;
  --main-color-light: black;
  --main-color-dark: white;
  --main-background-light: white;
  --main-background-dark: black;

  --link-outline-offset: 1px;
  --link-outline-width: 2px;
  --link-outline-style: solid;
  --link-color-light: var(--industrial-blue);
  --link-color-dark: var(--arches-blue);
  --link-outline-color-light: var(--primary-focus-light);
  --link-outline-color-dark: var(--primary-focus-dark);

  --button-font-size: 11pt;
  --button-border: 1px;
  --button-radius: 4px;
  --button-padding: 3px;
  --button-margin: 3px;
  --button-color-light: var(--primary-color-light);
  --button-color-dark: var(--primary-color-dark);
  --button-background-light: #eee;
  --button-background-dark: #222;

  --input-outline-offset: 1px;
  --input-outline-width: 2px;
  --input-outline-style: solid;
  --input-outline-color-light: var(--primary-focus-light);
  --input-outline-color-dark: var(--primary-focus-dark);
  --input-background-light: #eee;
  --input-background-dark: #222;

  --code-font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

  --title-font-size: 14pt;
  --buttons-font-size: 12pt;
  --legend-font-size: 14pt;
  --options-font-size: 14pt;

  --error-color-light: var(--main-background-light);
  --error-color-dark: var(--main-background-dark);
  --error-background-light: #f4b6c0;
  --error-background-dark: #400a12;
  --error-border-light: #a6192e;
  --error-border-dark: #a6192e;

  --warning-color-light: var(--main-background-light);
  --warning-color-dark: var(--main-background-dark);
  --warning-background-light: #ffe0b1;
  --warning-background-dark: #b16a00;
  --warning-border-light: #ff9900;
  --warning-border-dark: #ff9900;

  --info-color-light: var(--main-background-light);
  --info-color-dark: var(--main-background-dark);
  --info-background-light: #c0f0ff;
  --info-background-dark: #0091c0;
  --info-border-light: #1D58A7;
  --info-border-dark: #009FD4;

  // tablist

  --tab-color-light: var(--primary-color-light);
  --tab-color-dark: var(--primary-color-dark);
  --tab-background-light: #eee;
  --tab-background-dark: #333;
  --tab-border-color-light: var(--light-gray);
  --tab-border-color-dark:  var(--light-gray);

  --tab-selected-color-light: var(--primary-color-light);
  --tab-selected-color-dark: var(--primary-color-dark);
  --tab-selected-background-light: var(--main-background-light);
  --tab-selected-background-dark: var(--main-background-dark);

}
