/* ai-sidepanel.css */

.ai-sidepanel {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: light-dark(var(--main-color-light), var(--main-color-dark));
  background: light-dark(var(--main-background-light), var(--main-background-dark));
}

header {
  display: grid;
  grid-template-columns: auto 160px;
  border-bottom: 1px solid light-dark(var(--tab-border-color-light), var(--tab-border-color-dark));
}

header h1 {
  margin: 0;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  font-weight: bold;
  font-size: var(--title-font-size);
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header .buttons {
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  width: 160px;
}

footer {
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: absolute;
  bottom: 0;
  width: 97%;
}

footer .info {
  margin: 0;
  padding: 0;
  margin-top: 0.125em;
  margin-bottom: 0.125em;
  display: grid;
  grid-template-columns: 9ch auto;
}

footer .info .label {
  margin: 0;
  padding: 0;
  margin-right: 0.25em;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  grid-column: 1;
}

footer .info .value {
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  grid-column: 2;
}

footer .buttons {
  margin-top: 0.75em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

