/* options.css */

form.options {
  --legend-font-size: 14pt;
  --input-font-size: 12pt;

  .checkbox {
    margin-left: 12px;
  }

}

fieldset {
  margin: 0;
  margin-top: 1em;
  border: none;
}

fieldset:disabled label {
  color: gray;
}

legend {
  font-size: var(--legend-font-size);
  font-weight: bold;
}

tr label[for] {
  margin-left: 0;
}

input[type=checkbox],
input[type=radio] {
  outline: none;
}

input[type="text"],
input[type="number"] {
  font-size: var(--input-font-size);
  margin:  0;
  padding: 0;
  margin-left:  0.5em;
  display: inline-block;
}

.desc {
  font-size: var(--input-font-size);
  margin:  0;
  padding: 0;
  margin-left:  0.5em;
  margin-bottom: 1em;
  font-style: italic;
}

.desc code {
  font-family: var(--code-font-family);
  font-style: normal !important;
  font-weight:  bold;
}

.note {
  font-size: var(--input-font-size);
  margin:  0;
  padding: 0;
  font-style: italic;
}

.note span {
  font-weight: bold;
  font-size: var(--input-font-size);
}

p.note {
  margin:  0.5em;
  margin-left:  0.75em;
  padding: 0;
}

button[type=reset] {
  margin-top:  2em;
}

select {
  display: block;
  font-size: var(--button-font-size);
}

.feedback {
  border: 2px solid light-dark(var(--feedback-color-light), var(--feedback-color-dark));
  background:  light-dark(var(--feedback-background-light), var(--feedback-background-dark));
  padding: 2px;
  border-radius:  4px;
  font-size: var(--input-font-size);
}

.feedback img {
  height: 1.1em !important;
}

.feedback.shortcut {
  display:  none;
  position: absolute;
  left:  1em;
  top: 1em;
  width:  18em;
}

.feedback.shortcut.show {
  display:  block;
}

.feedback.prefix {
  display:  inline-block;
  visibility:  hidden;
}

.feedback.prefix.show {
  visibility:  visible;
}

table.shortcuts {
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  border-collapse: collapse;
  border-spacing: 0;
}

table.shortcuts td {
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}


