

               <figure class="image">
                  <img  src="images/chrome-all-rules.png" alt="">
                  <figcaption>Screen shot of AInspector Side panel open in chrome webb browser</figcaption>
                </figure>

               <h2>AInspector for WCAG 4.1 Released!</h2>

               <ul>
                  <li><a href="https://addons.mozilla.org/en-US/firefox/addon/ainspector-wcag/">AInspector WCAG 4.1 for Firefox</a></li>
                  <li><a href="https://chromewebstore.google.com/detail/ainspector-for-wcag-evalu/dhllbiaionalkdpankidadkoaaenenie">AInspector WCAG 4.1 for Chrome</a></li>
               </ul>

               <h2>New Features in 4.x:</h2>

               <ul>
                  <li>Support for Side Panel in Chrome Web Browser</li>
                  <li>Updated in version 4.1 JSON and CSV export formats for greater compatibility with 3.x export formats</li>
                  <li>Updated to OpenA11y Evaluation Library 2.07</li>
               </ul>

               <h2>Features in 3.x:</h2>

               <ul>
                  <li>
                     Updated to use OpenA11y Evaluation Library 2.0 to support:
                     <ul>
                        <li><a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines 2.1</a></li>
                        <li><a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines 2.2</a></li>
                        <li><a href="https://www.w3.org/TR/wai-aria/">Accessible Rich Internet Applications 1.2</a></li>
                        <li><a href="https://www.w3.org/TR/wai-aria-1.3">Accessible Rich Internet Applications 1.3</a></li>
                        <li><a href="https://www.w3.org/TR/html-aria/">ARIA in HTML</a></li>
                        <li>Improved<a href="https://www.w3.org/TR/accname-1.2/"> accessible name computation</a></li>
                        <li>Improved table rules</li>
                        <li>Updated keyboard rules</li>
                        <li>Updated video and audio rules</li>
                        <li>Fixed minor bugs in many other rules</li>
                        <li><a href="https://opena11y.github.io/evaluation-library/rulesets.html">Rule information on OpenA11y Evaluation Library website</a></li>
                     </ul>
                  </li>
                  <li>New ruleset and rule scope filtering options</li>
                  <li>New “First Step” Ruleset option for people just starting out with accessibility</li>
                  <li>Improved element information in Rule Results View</li>
                  <li>Improved element highlighting</li>
               </ul>

               <h2>Help Make AInspector Better</h2>

               <p>If you find a problem with AInspector for WCAG please let us know by creating an <a href="https://github.com/opena11y/ainspector/issues">issue in the GitHib repository for AInspector</a>.&nbsp; Please provide the following information:</p>

               <ol>
                  <li>A URL to were the problem can be replicated.</li>
                  <li>A short description of the issue.</li>
                  <li>How we can contact you for more information and verification the issue is resolved.</li>
               </ol>

               <h2>Purpose</h2>

               <p>The purpose of AInspector is to help people understand the <a href="https://w3.org/TR/WCAG">W3C Web Content Accessibility Guidelines (WCAG)</a>. To accomplish this, it provides detailed evaluation data that not only indicate pass or fail results for some rules, but also whether manual checking is needed for certain other rules that cannot be programmatically evaluated.</p>

               <p>AInspector is different from other tools in the number of rules that result in manual checking.&nbsp; Manual checks are important to help people understand that there is more to accessibility requirements than can be understood by only focusing on rules that either pass or fail, and that even if there are no failing rules there are additional requirements that need to be understood to ensure accessibility.</p>

               <p>For people learning about accessibility, AInspector gives them an understanding of the accessibility considerations needed for a specific web page. For experienced accessibility professionals, it helps them ensure they have crossed their t’s and dotted their i’s on accessibility.</p>


