  <h2>Self-Hosted .CRX Install File</h2>

  <p><a href="./dist/ainspector-opera-4.1.2.crx">{{extName}} install file</a> is hosted on this website and requires manual installation into Opera.  You will also have to delete earlier versions of Opera.  The install package has been submitted to the Opera Addons website and is awaiting publication.</p>

  <details class="screenshot">
    <summary>
      {% include "./icon-show-screenshot.njk" %}
    </summary>
    <figure class="image">
      <img src="images/opera-all-rules.png" alt="">
      <figcaption>Screen shot of {{extName}} installed on Opera web browser showing the all rules view</figcaption>
    </figure>
  </details>


  <h2>Pinning to Toolbar</h2>

  <p>{{extName}} icon is automatically pinned to the sidebar of Opera.</p>

  <details class="screenshot">
    <summary>
      {% include "./icon-show-screenshot.njk" %}
    </summary>
    <figure class="image">
      <img  src="images/getting-started-opera-pin.png" alt="">
      <figcaption>Screen shot of {{extName}} icon in the of Opera sidebar.  The icon is highlighted with an arrow and circle.</figcaption>
    </figure>
  </details>

  <p>The {{extName}} side panel when open can behave two ways: as an overlay on top of the content window or as a separate window to the left of the content window.  There is a "pin" at the top of the side panel to toggle between the two options.</p>

  <details class="screenshot">
    <summary>
      {% include "./icon-show-screenshot.njk" %}
    </summary>
    <figure class="image">
      <img  src="images/getting-started-opera-side-panel.png" alt="">
      <figcaption>Screen shot of {{extName}} icon in the of Opera sidebar.  The icon is highlighted with a circle.</figcaption>
    </figure>
  </details>


  <h2 id="shortcut">Keyboard Shortcut</h2>

  <p>A keyboard shortcut is predefined in Opera for opening and closing the side panel.  The sidebar can also be opened and closed in the "View" option in the Firefox menubar.</p>

  <ul>
    <li>Win/Linux: <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>U</code></li>
    <li>Mac: <kbd aria-label="command">cmd</kbd>+<kbd>shift</kbd>+<kbd>U</kbd></dd>
  </ul>



  <h2>Changing Side Panel Position</h2>

  <p>The side panel by default in Opera is positioned on the left side of the screen and <em>cannot</em> be configured for the right side.</p>



