
  <figure class="image">
    <img  src="images/webstore-edge.png" alt="">
    <figcaption>Screen shot of {{extName}} in Edge Add-ons</figcaption>
  </figure>

  <p><a href="">{{extName}} in Edge Add-ons</a></p>
