
  <figure class="image">
    <img  src="images/opera-all-rules.png" alt="">
    <figcaption>Screen shot of {{extName}} installed on Opera web browser showing the all rules view</figcaption>
  </figure>

  <p><a href="./dist/ainspector-opera-4.1.1.crx">{{extName}} install file</a> is hosted on this website</p>
