
  <figure class="image">
    <img  src="images/webstore-edge.png" alt="">
    <figcaption>Screen shot of {{extName}} in Edge Add-ons</figcaption>
  </figure>

  <p><a href="https://microsoftedge.microsoft.com/addons/detail/ainspector-for-wcag-evalu/enilnlbjbmnfleppphmbodnhkecoddhg">{{extName}} in Edge Add-ons</a></p>
