  <figure class="image">
    <img  src="images/views-rule-group.png" alt="">
    <figcaption>Screen shot of Rule Group View in Chrome Browser</figcaption>
  </figure>

  <h2 id="features">Features</h2>
  <table class="table table-striped" aria-labelledby="features">
    <thead>
      <tr>
          <th>Feature</th>
          <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 12em">
          Group Title
        </td>
        <td>
        The group title is the name of the Rule Category or WCAG Guideline associated with the list of rule results in the Rule Results Grid.
        </td>
      </tr>
      <tr>
        <td>Results Summary</td>
        <td>
          Provides a count of the number of rules with Violations (V), Warnings (W), Manual Checks (MC) and Passed (P) for the rules in the rule group.
        </td>
      </tr>
        <td>Rule Results Grid</td>
        <td>
            The Rule Results Grid has four columns:
              <ol>
               <li>Rule summary</li>
               <li>Result (i.e. Violation, Warning, Manual Check or Passed)</li>
               <li>WCAG Success Criteria</li>
               <li>WCAG Level (i.e. A, AA, AAA)</li>
               <li>Required for WCAG Conformance (i.e. Yes or No)</li>
              </ol>
        </td>
      <tr>
        <td>Rule Information</td>
        <td>
          Rule Information for the selected rule in the Rule Results Grid include the following properties:
          <ul>
            <li>Rule Id</li>
            <li>Rule Scope (i.e. element, page or website)</li>
            <li>Summary</li>
            <li>Definition</li>
            <li>Action</li>
            <li>Purpose</li>
            <li>Techniques</li>
            <li>Target ELements</li>
            <li>Primary WCAG Compliance</li>
            <li>Other Related WCAG Success Criteria</li>
            <li>Additional Information</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Evaluation Information</td>
        <td>
          This section appears in every view and includes information on:
          <ul>
            <li>Page title</li>
            <li>URL of the web page</li>
            <li>The selected Ruleset</li>
            <li>Scope of rules used in the results (e.g. All, Page, Website)</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 id="buttons">Buttons</h2>
  <table class="table table-striped" aria-labelledby="buttons">
    <thead>
      <tr>
          <th>Button</th>
          <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 10em">Back</td>
        <td>The <span class="button">Back</span> button changes the view back to the Summary view.</td>
      </tr>
      <tr>
        <td>Copy</td>
        <td>The <span class="button">Copy</span> button copies the Selected Rule information to the clipboard in a plain text format.</td>
      </tr>
      <tr>
        <td>Details</td>
        <td>The <span class="button">Details</span> button changes the view to the rule result associated with the selected rule in the rule group results grid.</td>
      </tr>
      <tr>
        <td>Export Data</td>
        <td>The <span class="button">Export Data</span> button prompts to save the rule group result data to a local file system in CSV or JSON format.  The Export button is available in all views.</td>
      </tr>
      <tr>
        <td>Options</td>
        <td>The <span class="button">Options</span> button opens option pages for the extension.  The Options button is available in all views</td>
      </tr>
      <tr>
        <td>Rerun Evaluation</td>
        <td>The <span class="button">Rerun Evaluation</span> button prompts the user to rerun the evaluation on the current page. The Rerun button is available in all views.</td>
      </tr>
      <tr>
        <td>Views</td>
        <td>The  <span class="button">Views</span> button menu opens a menu to navigate to one of the rule group views and is an alternative to using the grid and details button.  Handy for keyboard users, especially when shortcuts are enabled.  The Views button is available in all views.</td>
      </tr>
    </tbody>
  </table>


