
  <h2>Firefox Add-ons</h2>

  <ul>
    <li>To install the extension first go to the <a href="https://addons.mozilla.org/en-US/firefox/addon/ainspector-wcag/">Firefox Browser Add-ons </a> website.</li>
    <li> Use the "Add to Firefox" button to install extension into the Firefox browser.</li>
    <li>The
    {% include "./icon-ainspector.njk" %}
    icon will initially be hidden, but can be pinned to the toolbar using the extension manager.</li>
  </ul>

  <details class="screenshot">
    <summary>
      {% include "./icon-show-screenshot.njk" %}
    </summary>
    <figure class="image">
      <img  src="images/getting-started-firefox-webstore.png" alt="">
      <figcaption>Screen shot of {{extName}} in Mozilla Add-ons website</figcaption>
    </figure>
  </details>


  <h2>Pinning to Toolbar</h2>

  <p>After you install {{extName}} you can pin the
  {% include "./icon-ainspector.njk" %}
  icon to the toolbar to open and close the side panel.</p>

  <ul>
    <li>Select the extensions manager icon
    {% include "./icon-firefox-extension.njk" %}
      in the Firefox toolbar and locate {{extName}} in the list of extensions.</li>
    <li>Use the "Pin to Toolbar" toggle button in the popup menu to the extension to enable
     {% include "./icon-ainspector.njk" %}
     icon to appear in the toolbar.</li>
    <li>Selecting the toolbar icon opens and closes the side panel.</li>
  </ul>

  <details class="screenshot">
    <summary>
      {% include "./icon-show-screenshot.njk" %}
    </summary>
    <figure class="image" style="width: 50%">
      <img  src="images/getting-started-firefox-pin.png" alt="">
      <figcaption>Screen shot of {{extName}} of popup list of extensions and the associated popup menu toggle button to enable their icons to be displayed in the toolbar.  The {{extName}} option is highlighted with a circle.</figcaption>
    </figure>
  </details>


  <h2 id="shortcut">Keyboard Shortcut</h2>

  <p>A keyboard shortcut is predefined in Firefox for opening and closing the side panel.  The sidebar can also be opened and closed in the "View" option in the Firefox menu bar.</p>

  <ul>
    <li>Win/Linux: <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>U</code></li>
    <li>Mac: <kbd aria-label="command">cmd</kbd>+<kbd>shift</kbd>+<kbd>U</kbd></dd>
  </ul>

  <details class="screenshot">
    <summary>
      {% include "./icon-show-screenshot.njk" %}
    </summary>
    <figure class="image" style="width: 50%">
      <img  src="images/getting-started-firefox-menu.png" alt="">
      <figcaption>Screen shot of Firefox View menu option showing the sidebar sub-menu.</figcaption>
    </figure>
  </details>


  <h2>Changing Side Panel Position</h2>

  <p>The side panel by default in Firefox is positioned on the left side of the screen and <em>cannot</em> be configured for the right side.</p>



