<div id="options">

  <figure class="image">
    <img  src="images/chrome-options-general.png" alt="">
    <figcaption>Screen shot of {{extname}} General Options in Chrome Browser</figcaption>
  </figure>

  <section>
    <h2 id="results">Rule Results</h2>
    <table class="table table-striped" aria-labelledby="results">
      <thead>
        <tr>
          <th>Option</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Include 'Pass' and 'N/A' results</rd>
          <td>Checked</td>
          <td>desc...</td>
        </tr>
      </tbody>
    </table>
  </section>


  <section>
    <h2 id="rerun">Rerun Evaluation Button</h2>
    <table class="table table-striped" aria-labelledby="rerun">
      <thead>
        <tr>
          <th>Option</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rerun with no delay</rd>
          <td></td>
          <td>desc...</td>
        </tr>
        <tr>
          <td>Prompt for delay setting</rd>
          <td>Checked</td>
          <td>desc...</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h2 id="view">'Views' menu</h2>
    <table class="table table-striped" aria-labelledby="view">
      <thead>
        <tr>
          <th>Option</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Include WCAG Categories</rd>
          <td>Checked</td>
          <td>desc...</td>
        </tr>
      </tbody>
    </table>
  </section>

</div>
