<div id="options">

  <figure class="image">
    <img  src="images/chrome-options-ruleset.png" alt="">
    <figcaption>Screen shot of {{extname}} Ruleset Options in Chrome Browser</figcaption>
  </figure>

  <section>

    <h2 id="ruleset">Ruleset</h2>
    <table class="table table-striped" aria-labelledby="ruleset">
      <thead>
        <tr>
          <th>Option</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>WCAG 2.0</rd>
          <td></td>
          <td>desc...</td>
        </tr>
        <tr>
          <td>WCAG 2.1</td>
          <td>Checked</td>
          <dd>desc...</dd>
        </tr>
        <tr>
          <td>WCAG 2.2</td>
          <td></td>
          <td>desc...</td>
        </tr>
        <tr>
          <td>First Step</td>
          <td></td>
          <td>desc...</td>
        </tr>
        </tr>
      </tbody>
    </table>

  </section>

  <section>

    <h2 id="levels">WCAG Levels</h2>
    <table class="table table-striped" aria-labelledby="levels">
      <thead>
        <tr>
          <th>Option</th>
          <td>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Level A only</rd>
          <td></td>
          <td>desc...</td>
        </tr>
        <tr>
          <td>Level A and AA</td>
          <td>Checked</td>
          <dd>desc...</dd>
        </tr>
        <tr>
          <td>Level A, AA and a few AAA</td>
          <td></td>
          <td>desc...</td>
        </tr>
      </tbody>
    </table>

  </section>

  <section>

    <h2 id="scope">Rule Scope filter</h2>
    <table class="table table-striped" aria-labelledby="scope">
      <thead>
        <tr>
          <th>Option</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>All rules</rd>
          <td>Checked</td>
          <td>desc...</td>
        </tr>
        <tr>
          <td>Page scope rules only</td>
          <td></td>
          <dd>desc...</dd>
        </tr>
        <tr>
          <td>Website scope rules only</td>
          <td></td>
          <td>desc...</td>
        </tr>
      </tbody>
    </table>

  </section>

  <section>

    <h2 id="aria">ARIA Version</h2>
    <table class="table table-striped" aria-labelledby="aria">
      <thead>
        <tr>
          <th>Option</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ARIA 1.2</rd>
          <td>Checked</td>
          <td>desc...</td>
        </tr>
        <tr>
          <td>ARIA 1.3</td>
          <td></td>
          <dd>desc...</dd>
        </tr>
      </tbody>
    </table>

  </section>

</div>
