<div id="options">

  <figure class="image">
    <img  src="images/chrome-options-shortcuts.png" alt="">
    <figcaption>Screen shot of {{extname}} Shortcut Options in Chrome Browser</figcaption>
  </figure>

  <section>
    <h2 id="enable">Enable/Disable Shortcuts</h2>

    <table class="table table-striped" aria-labelledby="enable">
      <thead>
        <tr>
          <th>Option</th>
          <th>Default</th>
          <th>Description</th>
          <th>Uses</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Enable keyboard shortcuts</rd>
          <td>Unchecked</td>
          <td>Enables keyboard shortcuts</td>
          <td>When enabled, keyboard users can more quickly activate and navigate to the views and controls in the side panel.</td>
        </tr>
      </tbody>
    </table>

  </section>

  <section>

    <h2 id="shortcuts">Shortcuts</h2>

    <table class="table table-striped" aria-labelledby="shortcuts">
      <thead>
        <tr>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><kbd>Backspace/Delete</kbd></td>
          <td>Activates back button</td>
        </tr>
        <tr>
          <td><kbd>c</kbd></td>
          <td>Activates Copy button</td>
        </tr>
        <tr>
          <td><kbd>e</kbd></td>
          <td>Activates Export button</td>
        </tr>
        <tr>
          <td><kbd>r</kbd></td>
          <td>Activates Rerun button</td>
        </tr>
        <tr>
          <td><kbd>v</kbd></td>
          <td>Activates View button</td>
        </tr>
      </tbody>
    </table>

  </section>

</div>
