

<div class="faq">
  <ul>
    <li>
      <details>
        <summary>Where can I find information about the rules?</summary>
          <div class="content">
            There is detailed information about the current <a href="https://opena11y.github.io/evaluation-library/rulesets.html">rules on the OpenA11y Evaluation Library website</a>.
          </div>
        </details>
      </li>

      <li>
        <details>
          <summary>Do you collect any user data when I use AInspector?</summary>
          <div class="content">
                AInspector for Firefox <em><strong>does not</strong></em> collect or save any information on users, their browsing history or the websites they analyze for accessibility.
          </div>
        </details>
      </li>


      <li>
        <details>
          <summary>How do I report an issue or bug?</summary>
          <div class="content">
            Please use the <a href="https://github.com/opena11y/ainspector/issues">AInspector GitHub repository Issues</a> feature. When you file an issue using this method, the AInspector developers are notified.
          </div>
        </details>
      </li>

      <li>
        <details>
          <summary>What browsers does {{extName}} work with?</summary>
          <div class="content">
              AInspector for WCAG Evaluation now works with Chrome and Firefox and will soon be available for Edge and Opera browsers.
          </div>
        </details>
      </li>

      <li>
        <details>
          <summary>Where can I learn more about accessibility?</summary>
          <div class="content">
            <ul>
              <li><a href="https://www.w3.org/WAI/tutorials/">W3C Web Accessibility Initiative Tutorials</a>.</li>
              <li><a href="https://www.w3.org/TR/wai-aria-practices-1.2/">W3C ARIA Authoring Practices</a>.</li>
              <li><a href="https://www.w3.org/WAI/tutorials/">W3C Web Accessibility Tutorials.</a></li>
              <li><a href="https://www.w3.org/WAI/WCAG21/Techniques/#techniques">W3C Web Content Accessibility Guidelines Techniques</a>.</li>
              <li><a href="https://www.w3.org/TR/wai-aria/">W3C Accessible Rich Internet Application specification</a> (ARIA).</li>
              <li><a href="https://www.w3.org/TR/html-aria/">W3C ARIA in HTML specification</a>.</li>
              <li><a href="https://opena11y.github.io/evaluation-library/rulesets.html">OpenA11y Evaluation Library Rules</a>.</li>
              <li><a href="https://webaim.org/resources/">WebAIM Resources.</a></li>
              <li><a href="http://iadp.ahs.illinois.edu/">Illinois Information Accessibility Design and Policy</a> professional certificate program.</li>
            </ul>
          </div>
        </details>
      </li>
    </ul>

  </div>

