
  <figure class="image">
    <img  src="images/webstore-chrome.png" alt="">
    <figcaption>Screen shot of {{extName}} in chrome web store</figcaption>
  </figure>

  <p><a href="https://chromewebstore.google.com/detail/ainspector-for-wcag-evalu/dhllbiaionalkdpankidadkoaaenenie">{{extName}} in chrome web store</a></p>
