
          <h2>Contributors</h2>
          <ul>
            <li>Jon Gunderson, <a href="https://openweba11y.com">Open Web Accessibility Services</a></li>
          </ul>

          <h2>Support</h2>

          <p>Support for the {{extName}} project is provided by the <a href="https://dres.illinois.edu/">Division of Disability Resources and Educational Services</a> in the <a href="https://ahs.illinoie.edu">College of Applied Life Studies</a> at the <a href="htts://illinois.edu">University of Illinois at Urbana/Champaign</a>.


