<div id="options">

  <figure class="image">
    <img  src="images/chrome-options-general.png" alt="">
    <figcaption>Screen shot of {{extname}} General Options in Chrome Browser</figcaption>
  </figure>

  <section>
    <h2 id="results">Rule Results</h2>
    <table class="table table-striped" aria-labelledby="results">
      <thead>
        <tr>
          <th>Option</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Include 'Pass' and 'N/A' results</rd>
          <td>Checked</td>
          <td>To reduce the amount of information in the result grids, uncheck this option to  remove rules and rule results that pass or are not applicable form the results.</td>
        </tr>
      </tbody>
    </table>
  </section>


  <section>
    <h2 id="rerun">Rerun Evaluation Button</h2>
    <table class="table table-striped" aria-labelledby="rerun">
      <thead>
        <tr>
          <th>Option</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rerun with no delay</rd>
          <td></td>
          <td>When the "Rerun Evaluation" button is activated the evaluation will be immediately updated.</td>
        </tr>
        <tr>
          <td>Prompt for delay setting</rd>
          <td>Checked</td>
          <td>When the "Rerun Evaluation" button is activated the user will be prompted for a time delay before the evaluation is rerun.  This is useful for page with dynamic content, allow the user to set the page features. For example, opening a menu to check the accessibility features when a menu is open.</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h2 id="view">'Views' menu</h2>
    <table class="table table-striped" aria-labelledby="view">
      <thead>
        <tr>
          <th>Option</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Include WCAG Categories</rd>
          <td>Checked</td>
          <td>In the "Views" menu include WCAG Categories in the list of views.</td>
        </tr>
      </tbody>
    </table>
  </section>

</div>
