<div id="options">

  <figure class="image">
    <img  src="images/chrome-options-export.png" alt="">
    <figcaption>Screen shot of {{extname}} Export Options in Chrome Browser</figcaption>
  </figure>

  <section>
    <h2 id="button">Export Data Button</h2>
    <table class="table table-striped" aria-labelledby="button">
      <thead>
        <tr>
          <th>Option</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Include 'Pass' and 'N/A' results</rd>
          <td>Unchecked</td>
          <td>The </td>
        </tr>
      </tbody>
    </table>

  </section>

  <section>

    <h2 id="format">Export Data Button</h2>
    <table class="table table-striped" aria-labelledby="format">
      <thead>
        <tr>
          <th>Option</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CSV</rd>
          <td>Unchecked</td>
          <td>desc...</td>
        </tr>
        <tr>
          <td>JSON</rd>
          <td></td>
          <td>desc...</td>
        </tr>
      </tbody>
    </table>

  </section>

  <section>

    <h2 id="format">Filename Options</h2>
    <table class="table table-striped" aria-labelledby="format">
      <thead>
        <tr>
          <th>Option</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Export FIle Prefix</rd>
          <td><code>ainspector</code></td>
          <td>desc...</td>
        </tr>
        <tr>
          <td>File name index</rd>
          <td><code>1</code></td>
          <td>desc...</td>
        </tr>
        <tr>
          <td>Include index value in filename</rd>
          <td>Checked</td>
          <td>desc...</td>
        </tr>
        <tr>
          <td>Include date value in filename</rd>
          <td></td>
          <td>desc...</td>
        </tr>
      </tbody>
    </table>

  </section>

</div>
