

          <div class="faq">

            <ul>
              <li>
                <details>
                  <summary>FAQ #1</summary>
                  <div class="content">
                    <ul>
                      <li>
                        Description #1A
                      </li>
                      <li>
                        Description #1B
                      </li>
                    </ul>
                  </div>
                </details>
              </li>
              <li>
                <details>
                  <summary>FAQ #2</summary>
                  <div class="content">
                    <ul>
                      <li>
                        Description #2A
                      </li>
                      <li>
                        Description #2B
                      </li>
                    </ul>
                  </div>
                </details>
              </li>
            </ul>

          </div>


