            <section class="feedback" aria-label="Privacy and Feedback">

              <h2 id="privacy">Privacy</h2>
             <p>{{extName}} <em>does not</em> collect or store any information about users or work with any other parties to collect or share user browsing information.</p>


             <h2>Feedback</h2>

             <p>If you find a problem with {{extName}} please let us know by creating an <a href="https://github.com/opena11y/ainspector/issues">issue in the GitHib repository for AInspector</a>.&nbsp; Please provide the following information:</p>

             <ol>
                <li>A URL to were the problem can be replicated.</li>
                <li>A short description of the issue.</li>
                <li>How we can contact you for more information and verification the issue is resolved.</li>
             </ol>

            </section>

