        <header>
          <!-- Navigation-->
          <nav class="navbar
               navbar-expand-lg"
               aria-label="Primary"
               id="mainNav">
              <div class="container px-4">
                  <span class="brand">
                    <span class="icon">
                      <svg  xmlns="http://www.w3.org/2000/svg"
                            version="1.1"
                            xmlns:xlink="http:/www.w3.org/1999/xlink"
                            viewBox="0 0 200 200">
                        <g>
                          <path class="border" d="m20,5 h105 a20,20 0 0 1 20,20 v100 a20,20 0 0 1 -20,20 h-100 a20,20 0 0 1 -20,-20 v-100 a20,20 0 0 1 20,-20 z"  />

                          <polygon class="text" points="25,115 29,115 62,50 93,115  105,115 65,35"/>

                          <polygon class="text" points="45,83 80,83 78,77 48,77"/>

                          <polygon class="text" points="115,115 125,115 125,35 115, 35"/>

                        </g>
                      </svg>
                    </span>
                    <span class="version">
                      Version {{version}}
                    </span>
                  </span>

                  <button class="navbar-toggler"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#mainNavbar"
                          aria-controls="mainNavbar"
                          aria-expanded="false" a
                          aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav ms-auto">

                    {{ navigation | safe }}

                    </ul>
                  </div>
              </div>
          </nav>
          <div class="tagline">
            <div class="container px-4" >
              {{tagLineName}}
            </div>
          </div>
       </header>


