        <!-- Bootstrap core JS-->
        <script src="./js/bootstrap.bundle.min.js"></script>

        <!-- opena11y.js -->
        <script src="./js/opena11y.js"></script>

        <!-- SkipTo.js -->
        <script data-skipto="positionLeft: 30%" src="https://skipto-landmarks-headings.github.io/page-script-5/dist/skipto.min.js"></script>

